* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}
.container .row {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.container .row .title {
  width: 500px;
  text-align: center;
  padding: 30px;
}
.container .row .title h3 {
  font-size: 38px;
  font-family: "Rubik";
}
.container .row .title p {
  font-size: "Rubik";
  font-family: "Rubik";
  color: #6c757d;
}

#carousel {
  width: 100%;
  display: flex;
}
#carousel .carousel-container {
  width: 100%;
  position: relative;
}
#carousel .carousel-container .mySlides {
  display: none;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
}
#carousel .carousel-container .carousel-container-texts {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#carousel .carousel-container .carousel-container-texts h3 {
  font-size: 150px;
  font-family: "Nothing You Could Do";
}
#carousel .carousel-container .carousel-container-texts p {
  font-size: 23px;
  font-family: sans-serif;
}
#carousel .carousel-container .carousel-container-texts button {
  width: 177px;
  padding: 20px;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  margin-top: 15px;
}

.container {
  width: 100%;
}
.container .row {
  width: 100%;
}
.container .row .navbar-area {
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
  font-size: "Rubik";
  font-family: "Rubik";
}
.container .row .navbar-area .col-xl-2 {
  width: 306px;
}
.container .row .navbar-area .col-xl-6 {
  width: 890px;
}
.container .row .navbar-area .col-xl-6 .navbar-area-link ul {
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 12px 0;
}
.container .row .navbar-area .col-xl-6 .navbar-area-link ul li > a {
  text-decoration: none;
  color: #040E27;
}
.container .row .navbar-area .col-xl-6 .navbar-area-link ul li > a:hover {
  color: #17a2b8;
}
.container .row .navbar-area .col-xl-4 {
  width: 590px;
}
.container .row .navbar-area .col-xl-4 .navbar-area-social {
  display: flex;
  justify-content: end;
  margin-right: 30px;
  gap: 60px;
  align-items: center;
  padding: 12px 0;
}
.container .row .navbar-area .col-xl-4 .navbar-area-social .navbar-area-social-phone {
  color: #040E27;
  display: flex;
  gap: 10px;
}
.container .row .navbar-area .col-xl-4 .navbar-area-social .navbar-area-social-phone i {
  color: #dc3545;
}
.container .row .navbar-area .col-xl-4 .navbar-area-social .navbar-area-social-icons {
  display: flex;
  gap: 30px;
  color: #6c757d;
}
.container .row .navbar-area .col-xl-4 .navbar-area-social .navbar-area-social-icons :hover {
  color: #dc3545;
}
.container .row .navbar-area .navbar-area-btn {
  width: 100px;
}
.container .row .navbar-area .navbar-area-btn button {
  width: 100%;
  padding: 40px;
  background-color: #dc3545;
  border: none;
  color: #fff;
}

.travel {
  width: 100%;
  height: 150px;
  background-color: #040E27;
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.travel form {
  display: flex;
  gap: 20px;
}
.travel form input, .travel form #options {
  width: 220px;
  height: 50px;
  border: 1px solid #6c757d;
  background-color: #040e27;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.travel form input::-moz-placeholder {
  color: #fff;
}
.travel form input::placeholder {
  color: #fff;
}
.travel form button {
  width: 132px;
  height: 50px;
  background-color: #FF4A52;
  color: #fff;
  border: none;
}

.our-newsletter-texts form {
  display: flex;
  align-items: center;
  gap: 20px;
}
.our-newsletter-texts form #email {
  width: 383px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}
.our-newsletter-texts form #email::-moz-placeholder {
  padding: 10px;
  color: #AAB1B7;
}
.our-newsletter-texts form #email::placeholder {
  padding: 10px;
  color: #AAB1B7;
}
.our-newsletter-texts form #submit {
  width: 131px;
  height: 50px;
  border: none;
  background-color: #dc3545;
  color: #fff;
}
.our-newsletter-texts form #submit:hover {
  background-color: #1EC6B6;
}

#footer {
  width: 100%;
  background-color: #040E27;
  color: #fff;
  display: flex;
  padding: 155px 0 129px;
  align-items: center;
  justify-content: center;
}
#footer .footer-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#footer .footer-area .width-350 {
  width: 350px;
  height: 272px;
  padding: 0 20px;
}
#footer .footer-area .width-350 img {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
#footer .footer-area .width-350 p {
  font-size: 14px;
  color: #aab1b7;
  margin-top: 5px;
}
#footer .footer-area .width-350 p a {
  text-decoration: none;
}
#footer .footer-area .width-350 p a:hover {
  color: #dc3545;
}
#footer .footer-area .width-350 .contact {
  margin-bottom: 40px;
}
#footer .footer-area .width-350 .icon {
  display: flex;
  gap: 20px;
}
#footer .footer-area .width-350 .icon i {
  margin-top: 20px;
  color: #aab1b7;
}
#footer .footer-area .width-350 .icon i:hover {
  color: #dc3545;
}
#footer .footer-area .width-190 {
  width: 190px;
  height: 272px;
  padding: 0 20px;
}
#footer .footer-area .width-190 .footer-title {
  margin-bottom: 30px;
  color: white;
}
#footer .footer-area .width-190 .footer-link ul {
  list-style: none;
}
#footer .footer-area .width-190 .footer-link ul li {
  margin-top: 5px;
}
#footer .footer-area .width-190 .footer-link ul li a {
  text-decoration: none;
  color: #aab1b7;
}
#footer .footer-area .width-190 .footer-link ul li a:hover {
  color: #dc3545;
}
#footer .footer-area .width-285 {
  height: 272px;
  width: 285px;
  padding: 0 20px;
}
#footer .footer-area .width-285 .footer-title {
  margin-bottom: 30px;
  color: white;
}
#footer .footer-area .width-285 .footer-link {
  display: flex;
  align-items: center;
  gap: 50px;
}
#footer .footer-area .width-285 .footer-link ul {
  list-style: none;
}
#footer .footer-area .width-285 .footer-link ul li {
  margin-top: 5px;
}
#footer .footer-area .width-285 .footer-link ul li a {
  text-decoration: none;
  color: #aab1b7;
}
#footer .footer-area .width-285 .footer-link ul li a:hover {
  color: #dc3545;
}
#footer .footer-area .width-285 .footer-img img {
  margin-top: 5px;
}
#footer p {
  margin-top: 100px;
}
#footer p a {
  color: #dc3545;
  text-decoration: none;
}

.destination-card {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px 320px 70px;
}
.destination-card .destination-card-items {
  position: relative;
  font-size: "Rubik";
  font-family: "Rubik";
}
.destination-card .destination-card-items img {
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(50%);
}
.destination-card .destination-card-items .destination-card-items-texts {
  display: flex;
  align-items: center;
  width: 200px;
  gap: 30px;
  bottom: 0;
  position: absolute;
  color: #fff;
  margin: 0 0 40px 20px;
}
.destination-card .destination-card-items .destination-card-items-texts button {
  width: 100px;
  padding: 5px;
  font-size: "Rubik";
  border-radius: 25px;
  border: none;
  background-color: #1EC6B6;
  color: #fff;
}
.destination-card .destination-card-items:hover p {
  color: #dc3545;
}
.destination-card .destination-card-items:hover button {
  background-color: #dc3545;
}

#newsletter {
  width: 100%;
}
#newsletter .our-newsletter {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 40px;
}
#newsletter .our-newsletter img {
  filter: brightness(38%);
}
#newsletter .our-newsletter-texts {
  position: absolute;
  width: 950px;
  display: flex;
  top: 0;
  margin: 80px auto;
  padding: 20px;
}
#newsletter .our-newsletter-texts .text {
  width: 365px;
}
#newsletter .our-newsletter-texts .text h4 {
  font-size: 24px;
  color: #fff;
}
#newsletter .our-newsletter-texts .text p {
  font-size: "Rubik";
  color: #7A838B;
}

#popular .popular-items {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px 320px 40px;
}
#popular .popular-items .items-card {
  font-size: "Rubik";
  font-family: "Rubik";
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
#popular .popular-items .items-card .items-card-img {
  position: relative;
}
#popular .popular-items .items-card .items-card-img img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
#popular .popular-items .items-card .items-card-img .price {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #1EC6B6;
  color: #fff;
  border-radius: 18px;
  padding: 7px 18px 4px 18px;
}
#popular .popular-items .items-card .items-card-texts {
  padding: 27px 20px 25px;
  font-family: "Rubik";
}
#popular .popular-items .items-card .items-card-texts h3 {
  font-size: 22px;
  color: #040E27;
}
#popular .popular-items .items-card .items-card-texts p {
  color: #7A838B;
  font-size: 14px;
  margin: 2px 0 7px;
}
#popular .popular-items .items-card .items-card-texts .icons {
  display: flex;
  justify-content: space-between;
}
#popular .popular-items .items-card .items-card-texts .icons p {
  font-size: 14px;
  font-family: "Rubik";
}
#popular .popular-items .items-card .items-card-texts .icons p .bi-star-fill {
  color: #FDAE5C;
}
#popular .popular-items .items-card:hover .price {
  background-color: #dc3545;
}
#popular .popular-items .items-card:hover h3 {
  color: #dc3545;
}
#popular .place {
  width: 170px;
  height: 50px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 150px;
}
#popular .place:hover {
  background-color: #1EC6B6;
}

#video {
  width: 100%;
}
#video .video-area .video-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video .video-area .video-img img {
  background-repeat: no-repeat;
  background-size: cover;
}
#video .video-area .video-img .video-text {
  position: absolute;
  width: 1110px;
  text-align: center;
}
#video .video-area .video-img .video-text h3 {
  font-size: 80px;
  color: #fff;
  font-family: "Nothing You Could Do";
}
#video .video-area .video-img .video-text .video-icon {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin: auto;
  background-color: #1EC6B6;
  color: White;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video .video-area .video-img .video-text .video-icon a {
  font-size: 30px;
}

#variation .variation-area {
  padding: 150px 0 114px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
#variation .variation-area .items-area {
  width: 350px;
  text-align: center;
  padding: 0px 15px;
}
#variation .variation-area .items-area .variation-text {
  font-family: "Rubik";
}
#variation .variation-area .items-area .variation-text h3 {
  color: #040E27;
  font-size: 22px;
  margin: 41px 0 10px;
}
#variation .variation-area .items-area .variation-text p {
  font-weight: 400;
  color: #6E6E6E;
  font-size: "Rubik";
}

#testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0 118px;
  text-align: center;
  background-color: #f7fafd;
}
#testimonial .testimonial-area {
  width: 730px;
}
#testimonial .testimonial-area .testimonial-img {
  position: relative;
  width: 106px;
  margin: auto;
}
#testimonial .testimonial-area .testimonial-img img {
  width: 106px;
  background-repeat: no-repeat;
  background-size: cover;
}
#testimonial .testimonial-area .testimonial-img .icons {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  background-color: #1EC6B6;
  position: absolute;
  bottom: -10px;
  right: -10px;
}
#testimonial .testimonial-area .testimonial-text {
  font-family: "Rubik";
}
#testimonial .testimonial-area .testimonial-text p {
  font-size: 18px;
  color: #040E27;
  margin: 34px 0 10px;
}
#testimonial .testimonial-area .testimonial-text h3 {
  font-size: 16px;
  color: #7A838B;
  font-weight: 400;
  margin: 0 0 8px;
}

#recent {
  margin: 100px 0;
}
#recent .recent-items {
  display: flex;
  justify-content: center;
  gap: 40px;
}
#recent .recent-items .items-card {
  width: 350px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
#recent .recent-items .items-card img {
  border-radius: 5px;
}
#recent .recent-items .items-card .card-text {
  font-family: "Rubik";
  padding: 16px 0 0;
}
#recent .recent-items .items-card .card-text p {
  color: #7a838b;
  font-size: 14px;
}
#recent .recent-items .items-card .card-text h3 {
  font-size: 24px;
  margin: 10px 0 0;
}
#recent .recent-items .items-card:hover h3 {
  color: #dc3545;
}/*# sourceMappingURL=style.css.map */