#footer{
    width: $max-width;
    background-color:#040E27;
    color: $white;
    display: flex;

    padding: 155px 0 129px;
    align-items: center;
    justify-content: center;
    & .footer-area{
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 30px;

        & .width-350{
            width: 350px;
            height: 272px;
            padding: 0 20px;
            & img{
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 50px;
            }
            & p{
                font-size: 14px;
                color: #aab1b7;
                margin-top: 5px;
                    
                   & a{
                    text-decoration: none;

                    &:hover{
                        color: $danger;
                    }
                }
            
            }
            & .contact{
                margin-bottom: 40px;
            }
            & .icon{
                display: flex;
                gap: 20px;
                & i{
                    margin-top: 20px;
                    color: #aab1b7;
                    &:hover{
                        color: $danger;
                    }
                }
            }
           

        }
        & .width-190{
            width: 190px;
            height: 272px;
            padding: 0 20px;
            & .footer-title{
                margin-bottom: 30px;
                color: white;
            }
            & .footer-link ul{
                list-style: none;
              & li{
                margin-top: 5px;
                & a{
                    text-decoration: none;
                    color: #aab1b7;
                    &:hover{
                        color: $danger;
                    }
                      }
              }
            }

        }
        & .width-285{
            height: 272px;
            width: 285px;
            padding: 0 20px;
            & .footer-title{
                margin-bottom: 30px;
                color: white;
            
            }
            & .footer-link{
                display: flex;
                align-items: center;
                gap: 50px;
                & ul{
                    list-style: none;
                    & li{
                      margin-top: 5px;
                      & a{
                          text-decoration: none;
                          color: #aab1b7;
                          &:hover{
                              color: $danger;
                          }
                        }
                    }
                }
            }
            & .footer-img img{
                margin-top: 5px;
            }
           
        }
        
       
    }
    & p {
        margin-top: 100px;
        & a{
            color: $danger;
            text-decoration: none;
        }
    }
}
