#popular{
    .popular-items{
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        padding: 30px  320px 40px;
        
        & .items-card{
            font-size: $font-nav;
            font-family: $font-nav;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
           & .items-card-img{
            position: relative;
            & img{
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 5px;
            }
            & .price{
                position: absolute;
                top: 20px;
                left: 20px;
                background-color: $aqua;
                color: $white;
                border-radius: 18px;
                padding: 7px 18px 4px 18px ;
            }
           }
           & .items-card-texts{
            padding: 27px 20px 25px;
            font-family: $font-nav;
            & h3{
                font-size: 22px;
                color: $black;
            }
            & p{
                color: $boz;
                font-size: 14px;
                margin: 2px 0 7px;
            }
            & .icons {
                display: flex;
                justify-content: space-between;
                p{
                font-size: 14px;
                font-family: $font-nav;
                & .bi-star-fill{
                    color: $orange;
                }
            }
           }
        }
        &:hover{
           .price{
            background-color: $danger;
           }
           h3{
            color: $danger;
           }
        }
    }
}
 .place{
        width: 170px;
        height: 50px;
        border: none;
        background-color: $danger;
        color: $white;
        border-radius: 5px;
        margin-bottom: 150px;
        &:hover{
            background-color: $aqua;
        }
    }
}
