#recent{
margin: 100px 0;
     & .recent-items{
        display: flex;
        justify-content: center;
        gap: 40px;
        & .items-card{
            width: 350px;
            box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
           & img {
            border-radius: 5px;
            }

            & .card-text{
                font-family: $font-nav;
                padding: 16px 0 0;
                & p{
                    color: #7a838b;
                    font-size: 14px;
                }
                & h3{
                    font-size: 24px;
                    margin: 10px 0 0;
                }

            }
            &:hover{
                h3{
                    color: $danger;
                }
            }
        }
     }
}