//font-size
$font-nav: 16px;

//color ang bg-color
$black:#040E27;
$blue:#007bff;
$gray:#6c757d;
$danger:#dc3545;
$cyan:#17a2b8;
$white:#fff;
$dark: #040e27;
$red: #FF4A52;
$aqua: #1EC6B6;

//width and height
$max-width: 100%;
$height-nav: 99px;
$form-height: 50px;

//display
$flex: flex;

//font-family
$font-nav: 'Rubik';
$bold: bold;